.section-what-doing {
  padding-top: 94px;
  padding-bottom: 94px;

  &__list {
    margin-top: 50px;
    display: flex;
  }
  &__item:not(:last-child) {
    margin-right: 30px;
  }
  &__item {
    position: relative;
  }
  & .section-tittle {
    text-align: center;
  }
}
